<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="E-commerce Automation Test">
	
	 <!-- Value can be Default, Firefox and Edge, For Default will Launch Chrome -->
	<parameter name="browser" value="Default" /> 
	
	<test name="Suit Set UP">
		<classes>
			  <class name="baseClases.SetUp"/>
		</classes>
	</test>
	
  <test  name="Authorization">
	  <parameter name="Email" value="testing123@gmail.com"/>	  
    <classes>		    
      <class name="authentication.TestLogin"/>
    </classes>
  </test> <!-- Authorization -->
</suite> <!-- E-commerce Website Automation Test -->
