<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="E-commerce Website Automation Test">
	<parameter name="browser" value="Firefox" />
  <test  name="Authorization">
	  
    <classes>		
      <class name="baseClases.SetUp"/>
      <class name="authentication.Login"/>
    </classes>
  </test> <!-- Authorization -->
</suite> <!-- E-commerce Website Automation Test -->
